<tr class="fields">
	<td><%= f.text_field :step_number, :autocomplete => :off %></td>
	<td><%= f.text_area :details, size: "50x3", :autocomplete => :off  %></td>
  	<td><%= f.link_to_remove "Remove", :data => { :target => "#instructions" } %></td>
</tr>
