<div class='table-row'>
	<div class='table-col table-col-1-3'>
		<%= f.hidden_field :id%><%= f.text_field :description, :autocomplete => :off %>
	</div>
	<div class='table-col table-col-2-3'>
		<%= f.url_field :url, :autocomplete => :off %>
	</div>
	<div class='table-col table-col-3-3'>
  		<%= f.link_to_remove "Remove" %>
	</div>
</div>
