<tr class="fields">
	<td><%= f.text_area :description, :autocomplete => :off %></td>
	<td><%= f.url_field :url, :autocomplete => :off %></td>
  	<td><%= f.link_to_remove "Remove", :data => { :target => "#links" } %></td>
</tr>
