<h1>Welcome to Recipes Manager!</h1>
<body>
	Navigate via the links above. You'll find the full list of recipes, ingredients, categories and more!
</body>

<h3>Recent Changes (most recent first)</h3>
<ul>
	<li>Recipes can now have, and are searchable by, tags</li>
	<li>Searching strips leading and trailing whitespace</li>
	<li>More recent recipes now have images</li>
</ul>
<h3>Recently Updated Recipes</h3>
<%= render 'recipes/table' %>

