/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

.bold_centered {
	font-weight: bold;
	text-align: center;
}
.h1-smaller-margin {
	line-height: 25px
}
.category_tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 10px;
    margin: 0 30px 0 0;
    text-decoration: none;
}

.display_box {
	border: 1px solid black;
	background-color: #ffffff;
	width: 40em;
	padding: 0;
	margin: 0;
}
/*[class*='col-'] {
  float: left;
}*/

.grid:after {
  content: "";
  display: table;
  clear: both;
}

ul.my_navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.my_navbar li {
	float: left;
}
ul.my_navbar a {
	display: block;
    width: 250px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
ul.my_navbar a:hover, 
ul.my_navbar a:active {
    background-color: #7A991A;
}

body {
	background-color: #CCFFCC;
}

h2 {
	font-family: verdana,arial,sans-serif;
	font-size: 30px;
	font-weight: bold;
	color:#333333;
  }

body textarea {
	border-style: solid;
	border: 1px solid black;
}

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:14px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable caption {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

table.gridtable input,
table.gridtable textarea,
table.gridtable select{
	border: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
     
}



#related_links {
    background-color  : #90bade;
    color             : #333;
    font-family       : Tahoma;
    padding           : 1em;
    }

#related_links li {
    border-bottom     : 1px solid #90bade;
    list-style-type   : none;
    }

#related_links li a {
    background-color  : #2175bc;
    color             : #fff;
    border-left       : 5px solid #1958b7;
    border-right      : 5px solid #508fc4;
    font-weight       : bold;
    padding           : 0em;
    text-decoration   : none;
    }

#related_links li a:hover {
    background-color  : #2586d7;
    color             : #fff;
    border-left       : 10px solid #1c64d1;
    border-right      : 10px solid #5ba3e0;
    }
    
    
/* this is stuff that's used in the recipes controller */

.global-container {
    width: 750px;
}
.container {
    width:90%;
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.table-caption {
    width: 90%;
    display: table-caption;
    //border: 1px solid black;
    font-size: 30px;
  font-weight: bold;
  text-align: left;
}
.table-subcaption {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.table-heading-3col {
    width: 90%;
    display: table-row;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    line-height: 50px;
}
.table-row-old {
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    width: 100%;
}
.table-col {
    display: table-cell;
    height: 25px;
    border-width: 1px;
  	border-style: solid;
  	border-color: #666666;
  	background-color: #ffffff;
}
.table-col-1-4 {
  width: 20%;
}

.table-col-2-4 {
  width: 40%;
}

.table-col-3-4 {
  width: 25%;
}

.table-col-4-4 {
  width: 15%;
}

.table-col-noborder {
    display: table-cell
}
.table-col-span3_of_4 {
    display: table-cell;
    width: 90%;
}
.bold-centered {
    font-weight: bold;
    text-align: center;
}

.table-col-heading {
    font-weight: bold;
    text-align: center;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

div.container input,
div.container textarea,
div.container select{
	vertical-align: top;
	border: none;
	width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
     
}

